<?xml version="1.0"?>
<config>
    <modules>
        <Betanet_HelpDesk>
            <version>1.0.0</version>
        </Betanet_HelpDesk>
    </modules>
    <global>
        <helpers>
            <betanet_helpdesk>
                <class>Betanet_HelpDesk_Helper</class>
            </betanet_helpdesk>
        </helpers>
        <models>
            <betanet_helpdesk>
                <class>Betanet_HelpDesk_Model</class>
                <resourceModel>betanet_helpdesk_resource</resourceModel>
            </betanet_helpdesk>
            <betanet_helpdesk_resource>
                <class>Betanet_HelpDesk_Model_Resource</class>
                <entities>
                    <status>
                        <table>betanet_helpdesk_status</table>
                    </status>
                </entities>
            </betanet_helpdesk_resource>
        </models>
        <resources>
            <betanet_helpdesk_setup>
                <setup>
                    <module>Betanet_HelpDesk</module>
                    <class>Betanet_HelpDesk_Model_Resource_Setup</class>
                </setup>
            </betanet_helpdesk_setup>
        </resources>
        <blocks>
            <betanet_helpdesk>
                <class>Betanet_HelpDesk_Block</class>
            </betanet_helpdesk>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Betanet_HelpDesk>Betanet_HelpDesk_Adminhtml</Betanet_HelpDesk>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <betanet_helpdesk>
                    <file>betanet_helpdesk.xml</file>
                </betanet_helpdesk>
            </updates>
        </layout>
    </adminhtml>
</config>