<?xml version="1.0"?>
<config>
    <modules>
        <Betanet_Helpdesk>
            <version>1.11.0</version>
        </Betanet_Helpdesk>
    </modules>
    <global>
        <helpers>
            <betanet_helpdesk>
                <class>Betanet_Helpdesk_Helper</class>
            </betanet_helpdesk>
        </helpers>
        <models>
            <betanet_helpdesk>
                <class>Betanet_Helpdesk_Model</class>
                <resourceModel>betanet_helpdesk_resource</resourceModel>
            </betanet_helpdesk>
            <betanet_helpdesk_resource>
                <class>Betanet_Helpdesk_Model_Resource</class>
                <entities>
                    <status>
                        <table>betanet_helpdesk_status</table>
                    </status>
                    <priority>
                        <table>betanet_helpdesk_priority</table>
                    </priority>
                    <department>
                        <table>betanet_helpdesk_department</table>
                    </department>
                    <department_store>
                        <table>betanet_helpdesk_department_store</table>
                    </department_store>
                    <department_role>
                        <table>betanet_helpdesk_department_role</table>
                    </department_role>
                    <pic>
                        <table>betanet_helpdesk_pic</table>
                    </pic>
                    <ticket>
                        <table>betanet_helpdesk_ticket</table>
                    </ticket>
                    <reply>
                        <table>betanet_helpdesk_reply</table>
                    </reply>
                    <workflow>
                        <table>betanet_helpdesk_workflow</table>
                    </workflow>
                    <workflow_condition>
                        <table>betanet_helpdesk_workflow_condition</table>
                    </workflow_condition>
                    <workflow_action>
                        <table>betanet_helpdesk_workflow_action</table>
                    </workflow_action>
                </entities>
            </betanet_helpdesk_resource>
        </models>
        <resources>
            <betanet_helpdesk_setup>
                <setup>
                    <module>Betanet_Helpdesk</module>
                    <class>Betanet_Helpdesk_Model_Resource_Setup</class>
                </setup>
            </betanet_helpdesk_setup>
        </resources>
        <blocks>
            <betanet_helpdesk>
                <class>Betanet_Helpdesk_Block</class>
            </betanet_helpdesk>
            <betanet_helpdesk_adminhtml>
                <class>Betanet_Helpdesk_Block_Adminhtml</class>
            </betanet_helpdesk_adminhtml>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <Betanet_Helpdesk>
                    <files>
                        <default>Betanet_Helpdesk.csv</default>
                    </files>
                </Betanet_Helpdesk>
            </modules>
        </translate>
        <routers>
            <betanet_helpdesk>
                <use>standard</use>
                <args>
                    <module>Betanet_Helpdesk</module>
                    <frontName>helpdesk</frontName>
                </args>
            </betanet_helpdesk>
        </routers>
        <layout>
            <updates>
                <betanet_helpdesk>
                    <file>betanet_helpdesk.xml</file>
                </betanet_helpdesk>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Betanet_Helpdesk>Betanet_Helpdesk_Adminhtml</Betanet_Helpdesk>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Betanet_Helpdesk>
                    <files>
                        <default>Betanet_Helpdesk.csv</default>
                    </files>
                </Betanet_Helpdesk>
            </modules>
        </translate>
        <layout>
            <updates>
                <betanet_helpdesk>
                    <file>betanet_helpdesk.xml</file>
                </betanet_helpdesk>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <betanet_helpdesk_recurring_task>
                <run>
                    <model>betanet_helpdesk/cron::run</model>
                </run>
            </betanet_helpdesk_recurring_task>
        </jobs>
    </crontab>
</config>